/* @version 1.0 @author [Neelay Goswami](nl339853@dal.ca) */

.prod {

    gap: 1rem;
    grid-auto-flow: column;
}


.rowone {
    flex-direction: row;
}

.body {
    flex-direction: row;
    justify-content: left;
    display: grid;
    float: left;
    gap: 2rem;
    grid-auto-flow: column;
    padding: 10px;
    margin: 40px 40px 40px 40px;
    border: 1px solid rgb(15, 15, 15);
    width: auto;
    height: 450px;
}

.responsive {
    /* width: 50%;
    height: auto; */
    width: 285px;
    height: 285px;
}

#Button {
    background-color: #13878f;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    border-radius: 10px;
    cursor: pointer;
}

#Buttontwo {
    background-color: #13878f;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 30px 10px 10px 46px;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    height: 80px;
}

#Buttonthree {
    background-color: #13878f;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px 2px 2px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 80px;
}


#grid {
    padding: 4px 4px;
}